@import 'bootstrap/scss/bootstrap';
$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import '@fortawesome/fontawesome-free/scss/solid.scss'; 
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';
.my-card{
    margin-bottom: 20px; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; 
    box-sizing: border-box;
   
        &__logo {
            margin-right: 15px; 
            img {
              max-width: 50px; 
              height: auto; 
            }
          }
        
          &__content {
            flex: 1;
            .title {
              font-weight: bold;
              font-size: 1.1rem; 
              color: #333; 
            }
        
            .description {
              font-size: 0.9rem; 
              color: #666; 
            }
          }
        }
       
    


    

        


