@import 'bootstrap/scss/bootstrap';

// HEADER //

.slider{
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/img/home-slider-62528242.jpg');
    background-size: cover;
}
.y-flag{
    height: 30vh;
    background-color: #FED03D;
}