@import 'bootstrap/scss/bootstrap';

// HEADER //

.slider{
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/img/home-slider-62528242.jpg');
    background-size: cover;
    h1{
        font-size: 5rem;
        font-weight: 700;
        color: #ffffff;
    }
    h5{
        font-size: 2rem;
        color: #FED03D;
    }
}
.btn-header-right{
   
        background-color: black;
    
}
.y-flag{
    height: 15vh;
    background-color: #FED03D;
    span{
        font-size: 2.5rem;
        padding-top: 25px;
    }
}
.btn-free-quote{
    position: relative;
}

// MAIN //

.separator{
    border: 1px solid #fed03d;
    width: 200px;
    height: 1px;
}


//#fed03d COLORE SEPARATORE  //