@use "./partials/variables";
$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss'; 
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'bootstrap/scss/bootstrap';
// HEADER //
.my-nav{
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 10000;
    

}
#navBarPlaceHolder{
    height: 130px;
}
.slider{
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/img/home-slider-62528242.jpg');
    background-size: cover;
    h1{
        font-size: 5rem;
        font-weight: 700;
        color: #ffffff;
    }
    h5{
        font-size: 2rem;
        color: #FED03D;
    }
}
.btn-header-left{
    background-color: #333333; /* Sfondo nero */
    color: #ffffff; /* Colore del testo bianco */
    padding: 10px 20px; /* Padding per spaziatura interno del bottone */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: color 0.3s; 
    
}
.btn-header-left:hover{
    background-color: #FED03D;
    color: #333333;
}
.btn-header-right{
    background-color: #FED03D; /* Sfondo nero */
    color: #333333; /* Colore del testo bianco */
    padding: 10px 20px; /* Padding per spaziatura interno del bottone */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: color 0.3s; 
}
.btn-header-right:hover{
    background-color: #333333; /* Sfondo nero */
    color: #ffffff;
}
.btn-projects{
    background-color: transparent; /* Sfondo trasparente */
    color: black; /* Colore del testo */
    padding: 10px 20px; /* Padding per spaziatura interna del bottone */
    border: 1px solid transparent; /* Bordo sottile */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s;
}
.btn-projects:hover{
    background-color: #FED03D; /* Cambia il colore di sfondo al passaggio del mouse */
  color: black;
}
.y-flag{
    position: relative;
    height: 160px;
    background-color: #FED03D;
    span{
        font-size: 2.5rem;
        padding-top: 25px;
    }
}
.quote-btn{
    position: absolute;
    bottom: -50px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.separator{
    border: 1px solid #fed03d;
    width: 200px;
    height: 1px;
}



.home{
    width: 100%;
    height: 80vh;
    // position: absolute;
    // overflow: hidden;
    background-image: url('/src/assets/img/home-244125289.jpg');
    // box-shadow: 10px -30px -100px -30px rgb(255, 255, 255) inset, 0px 10px 20px -10px rgb(255, 255, 255) inset;
}
.line{
    border: 1px solid grey;
    width: 350px;
    height: 1px;
  }
.grey-line{
    border: 1px solid grey;
    width: 20px;
    height: 1px;
}
.parallax{
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/img/home-parallax-144609983.jpg');
    background-repeat:no-repeat ;
    overflow: hidden;
}

// TAB //
.tab-content {
    display: none;
  }
  .tab-content.active {
    display: block;
  }
  .tab-image {
    max-width: 100px;
    max-height: 100px;
  }

//   LATEST NEWS//
.card-news{
    width: calc(100% / 3);
    max-height: 500vh;
}

.my-container {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    
    img{
        width: 150px;
        height: 80px;
        
    }
  }

//   FOOTER //

.call-to-action{
    width: 100%;
    height: 80vh;
    background-image: url('/src/assets/img/about-call-to-action-57862405.jpg');
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
}
.cta-right{
    width: calc(100% / 2 - 20px) ;
}

.my-footer{
    width: calc(100% / 4 - 20px)

}
.footer-container{
    background-color: #1F1F1F;
}
.maps{
    width: 200px;
    height: 200px;
}
.end-footer{
    background-color: #000000;
}